@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*! DON'T TOUCH MY CODE */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --iconSize: 1.7rem;
  --gapX: 1.2rem;
  --color1: #f0f2f5;
  --color2: #f2f2f2;
  --color3: #e4e6e9;
  --primary: #0866ff;
  --mainBg: #f0f2f5;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

/*! Resetting Default Styles Start */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol {
  li {
    list-style-type: none;
    margin-right: 0;
  }
}

/*! Resetting Default Styles End */

/*! Reusable Utility Classes Start */
.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex_center {
  display: flex;
  align-items: center;
}

.flex_center_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.flex_col_reverse {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.w-full {
  width: 100%;
}

/*! Reusable Utility Classes End */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 1.5rem;
  background: #fff;

  .logo_container {
    gap: var(--gapX);

    .logo {
      color: blue;
      font-size: 3rem;
    }

    .input_container {
      background: var(--color1);
      border-radius: 2rem;
      overflow: hidden;
      padding-left: var(--iconSize);

      input {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0.8rem;
      }

      .search_icon {
        font-size: var(--iconSize);
        position: absolute;
        left: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .nav_icons {
    gap: 0.5rem;

    #home {
      color: var(--primary);
      border-bottom: 2px solid var(--primary);
      border-radius: 0.5rem 0.5rem 0 0;
    }

    li {
      font-size: var(--iconSize);
      cursor: pointer;
      padding: 0.4rem 1.8rem;
      border-radius: 0.5rem;

      &:hover {
        background-color: var(--color2);
      }
    }
  }

  .right_nav_icons {
    gap: 0.5rem;

    li {
      font-size: var(--iconSize);
      cursor: pointer;
      border-radius: 100%;
      background-color: var(--color2);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 3rem;
      height: 3rem;

      img {
        border-radius: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.main_content {
  display: flex;
  min-height: 50vh;
  height: 90vh;
  overflow-y: scroll;
  justify-content: space-between;
  background: var(--mainBg);

  main {
    width: 100%;
  }

  .left_nav,
  .right_nav {
    width: 0%;
    display: none;
    overflow-y: scroll;
  }

  .left_nav {
    li,
    button {
      padding: 0.6rem;
      padding-left: 1rem;
      align-items: center;
      gap: 0.8rem;
      cursor: pointer;

      ion-icon {
        font-size: var(--iconSize);
      }
    }

    button {
      border: none;
    }

    li {
      display: flex;

      &:hover {
        background-color: var(--color3);
      }

      &:first-child {
        img {
          border-radius: 100%;
          width: 2.5rem;
          height: 2.5rem;
          object-fit: cover;
        }
      }
    }
  }

  .right_nav {
    padding-right: 0.8rem;

    .sponsored {
      padding-top: 0.6rem;
      border-bottom: 1px solid darkgray;
      margin-bottom: 0.3rem;

      .sponsored_post {
        gap: 0.8rem;
        cursor: pointer;
        padding: 0.6rem;
        margin: 0.4rem 0;
        border-radius: 0.4rem;

        &:hover {
          background-color: var(--color3);
        }

        img {
          border-radius: 0.4rem;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }

    .icon_container ion-icon {
      font-size: 1.3rem;
      padding: 8px;
      border-radius: 50%;
      cursor: pointer;

      &:hover {
        background-color: var(--color3);
      }
    }

    .contact_container {
      margin-top: 0.9rem;

      .contact_item {
        gap: 0.8rem;
        cursor: pointer;
        padding: 0.6rem;
        margin: 0.4rem 0;
        border-radius: 0.4rem;

        &:hover {
          background-color: var(--color3);
        }
      }

      img {
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}

/*! For Tablets */
@media screen and (width >= 768px) {
  .main_content {
    main {
      width: 60%;
    }

    .left_nav {
      width: 0;
    }

    .right_nav {
      width: 40%;
      display: block;
    }
  }
}

/*! For Laptops */
@media screen and (width >= 1024px) {
  .main_content {
    main {
      width: 50%;
    }

    .left_nav,
    .right_nav {
      width: 25%;
      display: block;
    }
  }
}


/*! DON'T TOUCH MY CODE. WRITE YOURS UNDER HERE */